<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<header>
    <nav class="navbar">

        <h2 class="logo">Service Network</h2>

        <button class="menu-toggle" id="menu-toggle">
            ☰
        </button>

        <ul class="nav-links" id="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/organizations">Organizations</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/categories">Categories</a></li>
        </ul>

    </nav>
</header>